html,body{
    /* width: 100%;   */
    height: 100%;
    margin: 0;
    padding: 0;
}
#app{
    height: 100%;
}
#nprogress .bar {
    background: #7367f0 !important;
    height: 4px !important;
  }
.el-checkbox__input.is-checked .el-checkbox__inner {
    background-color: #7367f0;
    border-color: #7367f0;
}
.el-checkbox__input.is-checked+.el-checkbox__label {
    color: #7367f0;
}
.el-button--primary {
    color: #fff;
    background-color: #7367f0;
    border-color: #7367f0;
}
.el-button--primary:focus, .el-button--primary:hover{
    color: #fff;
    background-color: #7367f0;
    border-color: #7367f0;
}